@import '../../styles/variables/colors';

.empty {
  margin: 20px 0;
}

.active-trigger-wrapper {
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 21px rgba(128, 152, 213, 0.145);
  padding: 20px 30px;


  h3 {
    &:after {
      content: '';
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
      margin: 0 0 2px 7px;
    }
  }

  p {
    margin: .5em 0 0;
  }

  a {
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    &.danger {
      color: $warning-red
    }
  }

  &.danger-red {
    h3:after { background-color: $warning-red; }
  }
  &.danger-orange {
    h3:after { background-color: $warning-orange; }
  }
  &.danger-yellow {
    h3:after { background-color: $warning-yellow; }
  }
}