@import "../../styles/variables/colors";

.home-page {
  background-color: $bg-color;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  textarea {
    resize: vertical;
  }
}

.saved-contracts {
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 14px;

  p {
    margin-bottom: 12px;
    color: $gray;
  }

  .contract {
    margin-bottom: 12px;
    color: $accent;
    text-decoration: underline;
    cursor: pointer;
  }

  .recent-ct {
    transition: all .2s;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    color: $accent;
    font-weight: bold;
    &:hover {
      border-bottom: 1px solid $accent;
    }
  }
}
