.home-page {
  background-color: #F5F6FA;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.saved-contracts {
  margin-bottom: 100px;

  p {
    margin-bottom: 20px;
  }

  .contract {
    margin-bottom: 15px;
  }
}
