@import '../../styles/variables/colors';

.nav {
  position: relative;
  z-index: 1;
  .container {
    padding: 0 20px;
    line-height: 60px;
    height: 60px;
    color: $accent;
    border-bottom: 1px solid #CED3E6;
    background-color: white;
    display: flex;
    justify-content: space-between;

    .logo {
      font-size: 32px;
      font-weight: bold;
    }
  }

}

h2 {
  margin: 1em 0;
}
