@import "../variables/colors";

.centered-container {
  width: 800px;
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0 0 21px rgba(128, 152, 213, 0.145);
  border-radius: 4px;
}

.button {
  height: 42px;
  padding: 0 26px;
  background-color: $accent;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;

  &:hover {
    background-color: lighten($accent, 5);
  }

  &:active {
    background-color: darken($accent, 5);
  }
}

.button.light {
  background-color: white;
  border: 1px solid #eee;
  color: #4F4F4F;
  box-shadow: 0px 0px 21px rgba(128, 152, 213, 0.145);
  font-weight: normal;

  &:hover {
    color: lighten(#4F4F4F, 15);
    box-shadow: 0px 0px 25px rgba(128, 152, 213, 0.3);
  }
}
.button.full-width {
  width: 100%;
}
.button-wrapper {
  text-align: right;
  button {
    margin-left: 5px;
  }
}

.title-wrapper {
  margin-bottom: 20px;

  h1 {
    font-size: 32px;
    color: $accent;
    margin-bottom: 15px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: rgba(104, 104, 104, 0.8);
  }
}

.form-wrapper {
  input, select, textarea {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    width: 100%;
    box-shadow: none;
    margin-top: 10px;
    height: 26px;
    background-color: #fff;
    border-radius: 0;
    border: 0;
    padding-bottom: 5px;
    font-size: 14px;
    border-bottom: 1px solid rgba(161, 173, 205, 0.5);
    outline: 0;
  }

  textarea {
    height: 60px;
  }

  .form-group {
    margin-bottom: 25px;
  }
}

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  background-color: rgba(black, .5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  animation: modal-fade-in .2s;
  .container {
    max-width: 1000px;
    padding: 20px;
    animation: modal-slide-in .2s;
    border-radius: 0 0 5px 5px;
    max-height: calc(100vh - 50px);
    overflow: auto;
  }
  @keyframes modal-slide-in {
    0% {
      transform: translateY(-100px);
    }

    100% {
      transform: translateY(0px);
    }
  }
  @keyframes modal-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .modal-buttons {
    text-align: right;
    margin-top: 20px;
    button {
      margin-left: 5px;
    }
  }
}

.has-subtitle {
  margin-bottom: 0;
}

.subtitle {
  margin-top: .5em;
  font-size: 14px;
  color: #AAA;
}

.monospace-input {
  font-family: monospace !important;
}