@import '../../../styles/variables/colors';

.alert-card-container {
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 21px rgba(128, 152, 213, 0.145);
  padding: 20px 30px 20px 50px;
  display: flex;
  position: relative;

  .alert-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 80px;
  }

  .meta {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 20px;
      .date {
        float: right;
        font-size: 15px;
      }
    }

    p {
      color: #AAA;
      font-size: 14px;
      margin: .5em 0 0;
      a {
        color: inherit;
        transition: color .2s;
        &:hover {
          color: #777;
        }
      }
    }
  }



  &.danger-red {
    .alert-icon { background-color: $warning-red; }
  }
  &.danger-orange {
    .alert-icon { background-color: $warning-orange; }
  }
  &.danger-yellow {
    .alert-icon { background-color: $warning-yellow; }
  }
}